.container {
  width: 100%;
  height: 12px;
  border-radius: 6px;
  background-color: var(--color-bg-black);
  border: 2px solid var(--color-bg-black);
  position: relative;

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-primary-light);
    border-radius: 4px;
    transition: width 0.3s linear;
  }
}