.container {
  width: 100%;

  .date {
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    padding: 6px 12px;
    border-radius: 14px;
  }

  .message-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;

    .message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: rgb(178, 185, 252);
      color: #000;
      border-radius: 20px;
      padding: 10px 14px;
      min-width: 100px;

      .time {
        font-size: 11px;
        font-weight: bold;
        margin-top: 2px;
      }
    }

    .message-status {
      display: flex;
      justify-content: flex-end;
    }

    &.sent {
      justify-content: flex-end;

      .message {
        align-items: flex-end;
        background-color: #ccc;
      }
    }
  }
}