.container {
  width: 100%;

  .load-more-button-container {
    width: 100%;
    text-align: center;

    .load-more-button {
      align-self: center;
      background-color: #4D38A2;
    }
  }

  .date {
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.1);
    width: fit-content;
    padding: 6px 12px;
    border-radius: 14px;
  }

  .message-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    transition: opacity 0.3s ease;

    .message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #1c2437;
      color: #c6c6c6;
      border-radius: 20px;
      padding: 10px 14px;
      min-width: 100px;
      max-width: 80%;
      animation: slide-in-left 0.3s ease-in-out forwards;

      .time {
        font-size: 11px;
        font-weight: bold;
        margin-top: 2px;
      }
    }

    .message-status {
      margin-top: 3px;
      display: flex;
      justify-content: flex-end;
    }

    &.sent {
      justify-content: flex-end;

      .message {
        align-items: flex-end;
        background-color: #4D38A2;
        color: #e9e9e9;
        animation: slide-in-right 0.3s ease-in-out forwards;
      }
    }

    &.pending {
      opacity: 0.5;
    }
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}