.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    align-items: center;

    .picture {
      margin-right: 12px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }

    .status {
      color: var(--color-text-gray-dark);
      font-size: 14px;
      text-transform: capitalize;

      &.online {
        font-weight: bold;
        color: var(--color-status-online);
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;

    button {
      background-color: transparent;
      padding: 6px 12px;

      svg {
        width: 50px;
        height: 50px;
        color: var(--color-text-gray-dark);
      }
    }
  }
}