@use '@/styles/breakpoints.module.scss'as breakpoints;

.container {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  background-color: #283045;
  z-index: 3;
  padding: 24px 12px;

  @include breakpoints.sm {
    padding: 30px 24px;
  }

  .close-button {
    background-color: transparent;
    padding: 4px 6px;
    position: absolute;
    right: 20px;
    top: 20px;

    svg {
      width: 24px;
      height: 24px;
      color: #c6c6c6;
    }
  }

  .content {
    flex: 1;
    display: flex;

    video {
      width: 300px;
      height: 300px;
      transform: scaleX(-1);
      border-radius: 30px;
    }
  }
}