.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--color-overlay-strong);
  z-index: 2;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 18px 24px;

    .toolbar {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
    }

    .download-button,
    .close-button {
      background-color: transparent;
      width: 40px;
      height: 40px;
      padding: 4px;

      svg {
        width: 100%;
        height: 100%;
        color: var(--color-text-gray);
      }
    }

    .close-button {
      padding: 6px;
    }

    .media-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .media {
        display: contents;

        &>* {
          max-height: 60vh;
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}