.container {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-white);
    pointer-events: none;
    transition: opacity 0.3s ease;
    opacity: 0;
    background-color: var(--color-overlay-light);
    z-index: 10;

    &.dragging {
      opacity: 1;
    }
  }
}