.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  pointer-events: none;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);

  &.visible {
    pointer-events: auto;
    transform: translateX(0);
  }

  .nav {
    display: flex;
    align-items: center;
    padding: 14px 10px;
    background-color: var(--color-bg-secondary);
    border-radius: 8px;
    box-shadow: -1px 6px 18px -7px var(--color-overlay-medium);
    z-index: 2;

    button {
      background-color: transparent;
      padding: 6px;
      margin-right: 12px;
    }

    .icon svg {
      width: 24px;
      height: 24px;
      color: var(--color-white);
    }
  }

  .content {
    flex: 1;
  }
}