@use '@/styles/breakpoints.module.scss'as breakpoints;

.container {
  display: flex;
  padding: 12px;
  background-color: var(--color-bg-secondary);
  border-radius: 8px;

  @include breakpoints.sm {
    padding: 20px;
  }

  input {
    flex: 1;
    margin-right: 14px;
    padding: 4px 16px;
    height: 48px;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--color-bg-tertiary);
    border: none;
    width: 100%;

    @include breakpoints.sm {
      height: 54px;
    }
  }

  button {
    height: 48px;
    width: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    @include breakpoints.sm {
      height: 56px;
      width: 56px;
    }
  }

  .add-attachment {
    margin-right: 12px;

    svg {
      width: 24px;
      height: 24px;
      color: var(--color-text-gray-dark);
    }
  }
}