.container {
  display: flex;
  padding: 20px;
  background-color: #1c2437;
  border-radius: 8px;

  input {
    flex: 1;
    margin-right: 12px;
    padding: 18px 18px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #283045;
    border: none;
  }

  button {
    height: 56px;
    width: 56px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .add-attachment {
    margin-right: 12px;

    svg {
      width: 24px;
      height: 24px;
      color: #939393;
    }
  }
}