@import './colors.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  min-height: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-link-hover);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
input {
  color: var(--color-text-secondary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-bg-button);
  cursor: pointer;
  transition: border-color 0.25s, opacity 0.25s;

  &:not(:disabled):hover {
    border-color: var(--color-link);
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

*:not(body)::-webkit-scrollbar {
  opacity: 0;
}

*:not(body):hover::-webkit-scrollbar {
  opacity: 0.6;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  border: 2px solid var(--color-scrollbar-track);
  background: var(--color-scrollbar-thumb);
  border-radius: 10px;
}