.skeleton {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--color-text-muted);
  overflow: hidden;
  position: relative;
  opacity: 0.3;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: var(--color-text-muted);
    box-shadow: 1px 1px 40px 15px var(--color-text-muted);
    transform: skew(-20deg);
    animation: shimmer 1.6s ease-in-out infinite;
    opacity: 0.5;
  }
}

@keyframes shimmer {
  0% {
    left: -10%;
  }

  40% {
    left: 110%;
  }

  41%,
  100% {
    left: 110%;
  }
}