.container {
  overflow: auto;
  max-height: 100%;

  ul {
    list-style: none;
    padding: 0 12px;
    max-height: 100%;

    li {
      display: flex;
      padding: 12px 20px;
      background-color: var(--color-bg-secondary);
      margin-bottom: 12px;
      border-radius: 8px;

      .picture {
        margin-right: 12px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      transition: background-color 0.2s ease;

      &:hover {
        background-color: var(--color-bg-hover);
      }

      .status {
        color: var(--color-text-gray-dark);
        font-size: 14px;
        text-transform: capitalize;

        &.online {
          font-weight: bold;
          color: var(--color-status-online);
        }
      }

      .wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        color: var(--color-text-gray);

        .contact-info {
          overflow: hidden;
          flex: 1;

          .name {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: var(--color-text-primary);
          }

          .last-message {
            display: flex;
            align-items: center;

            span {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .icon {
              margin-right: 2px;
            }
          }
        }

        .last-message-wrapper {
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: flex-end;
          padding: 5px 0;

          .time {
            font-size: 12px;
            margin-bottom: 6px;
          }

          .new-messages {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 17px;
            height: 17px;
            font-size: 10px;
            font-weight: bold;
            background-color: var(--color-primary);
            color: var(--color-text-primary);
            border-radius: 16px;
            margin-left: 10px;
            padding: 4px;
          }
        }
      }

    }
  }
}