@use '@/styles/breakpoints.module.scss'as breakpoints;

.container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #283045;
  z-index: 3;
  padding: 24px 12px;
  border-radius: 20px;

  @include breakpoints.sm {
    padding: 30px 24px;
  }

  .close-button {
    background-color: transparent;
    padding: 4px 6px;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9;

    svg {
      width: 20x;
      height: 20px;
      color: #c6c6c6;
    }
  }

  .content {
    display: block;
    padding: 24px 12px 12px;
  }
}