.container {
  display: flex;
  align-items: center;
  padding: 28px 20px 20px;

  .picture {
    margin-right: 12px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
  }

  .wrapper {
    width: 100%;
    overflow: hidden;

    h2 {
      font-size: 18px;
      line-height: 20px;
      margin: 2px 0;
      padding: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    button {
      background-color: var(--color-primary);
      padding: 8px 10px;
      margin-top: 8px;
    }
  }
}