.container {
  display: flex;
  align-items: center;
  padding: 28px 20px 20px;

  .picture {
    margin-right: 12px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
  }

  h2 {
    font-size: 18px;
    line-height: 20px;
    margin: 2px 0;
    padding: 0;
  }

  p {
    margin: 0 0 8px;
  }

  button {
    background-color: #4d38a2;
    padding: 8px 10px;
    margin-top: 8px;
  }
}