.skeleton {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  background-color: var(--color-bg-primary);
  z-index: 1;
  gap: 10px;
  overflow: hidden;

  &>* {
    flex-shrink: 0;
  }
}